<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../icons8-consumption-96.png">
    <title>Expense Tracker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Kavoon&family=Metal+Mania&family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <!-- header -->
    <div class=" flex items-center  w-screen mx-auto mb-5 bg-[#65beb2c1] rounded-md">
      <div class="w-1/2 flex items-center gap-3 py-2">
          <img src="../icons8-consumption-96.png" class="h-[50px] w-[60px] p-2 ml-6" alt="Header Image" />        
          <div class=" text-center"><span class="text-xl font-[Kavoon]  text-[#002D74]">Expense Tracker</span></div>
      </div>
      <div class="w-1/2 text-center font-[Kavoon] text-3xl py-2">
          <span class="">Forgot Password</span></div>
      </div>
    </div>

    <!-- main -->
    <main id="content" role="main" class="w-full max-w-md mx-auto p-6">
        <div class="mt-7 bg-white  rounded-xl shadow-xl dark:bg-gray-600 dark:border-gray-700 ">
          <div class="p-4 sm:p-7">
            <div class="text-center">
              <h1 class="block text-2xl font-[Kavoon] text-gray-800 dark:text-white">Forgot password?</h1>
              <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                Remember your password?
                <a class="text-blue-400 decoration-2 hover:underline font-medium" href="./login.html">
                  Login here
                </a>
              </p>
            </div>
    
            <div class="mt-5">
              <form id="forgetPasswordForm" onsubmit="forget(event)">
                <div class="grid gap-y-4">
                  <div>
                    <label for="email" class="block text-sm font-bold ml-1 mb-2 dark:text-white">Email address</label>
                    <div class="relative">
                      <input type="email" id="email" name="email" class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-sm" required>
                    </div>
                  </div>
                  <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md  font-semibold bg-[#002D74] text-white hover:bg-blue-600 hover:scale-110 duration-300 ">Send Link</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        
      </main>

      <script src="../js/forgotPassword.js"></script>
      <script src="../js/axios.js"></script>
</body>
</html>